<div class="slds-form-element">
  <div class="slds-form-element__control">
    <span class="slds-checkbox">
      <input type="checkbox" name="{{name}}" id="checkbox-308" {{#if value}}checked=""{{/if}} {{#if disabled}}disabled{{/if}}/>
      <label class="slds-checkbox__label" for="checkbox-308">
        <span class="slds-checkbox--faux"></span>
        <span class="slds-form-element__label">{{name}}</span>
      </label>
    </span>
  </div>
</div>