<div class="slds-form-element">
  <label class="slds-form-element__label" for="text-input-01">{{name}}</label>
  <div class="slds-form-element__control">
    <input name="{{name}}" class="slds-input" type="text" placeholder="Enter text" value="{{value}}" {{#if disabled}}disabled{{/if}}/>
  </div>
</div>