<div class="slds-form-element">
  <label class="slds-form-element__label" for="text-input-01">{{name}}</label>
  <div class="slds-form-element__control">
    <input class="slds-input" name="{{name}}" type="date" placeholder="Enter text" value="21/12/1974" {{#if disabled}}disabled{{/if}}/>
  </div>
</div>