<div class="slds-form-element">
  <label class="slds-form-element__label" for="text-input-01">{{name}}</label>
  <div class="slds-form-element__control">
    <input class="slds-input" name="{{name}}" type="number" placeholder="0" value="{{value}}" />
  </div>
</div>