
<div class="slds-form-element">
  <label class="slds-form-element__label" for="textarea-input-01">{{name}}</label>
  <div class="slds-form-element__control">
    <textarea class="slds-textarea" name="{{name}}" placeholder="Enter text here" {{#if disabled}}disabled{{/if}}>{{value}}</textarea>
  </div>
</div>