<!DOCTYPE html>
<html>
<head>
  <% include ../partials/slds-header.ejs %>
</head>
<body>
	<div class="slds-grid slds-wrap">
		<div class="slds-col slds-size--1-of-1">
			Should be a header
		</div>

		<div class="slds-col slds-size--1-of-1">
			Should be the main
		</div>

		<div class="slds-col slds-size--1-of-1 slds-align--absolute-center" >
			<footer>
				Built with <a href="https://nodejs.org" target="_blank">Node.js</a> and 
				<a href="/old" target="_blank">
					<svg aria-hidden="true" class="slds-icon" style="fill: rgb(72,69,141);">
							<use xlink:href="/images/logo-heroku-white.svg#header_-_Heroku"></use>
					</svg>
				</a>
			</footer>

		</div>

	</div>
	<script type="text/javascript" src="/js/client.js"></script>
</body>
</html>